// min 1920px

@media(min-width:1920px) {

  // Cards
  .cards-block {
    width: 50%;
  }

  // Subscription
  .subscribtion {
    background: url('../img/subscription-bg.png') no-repeat center -210px;
    background-size: cover;
  }

  // Team
  .team-wrapper {
    width: 50%;
  }

  // Reviews
  .reviews-list {
    width: 50%;
  }
}

// max 1440px

@media (max-width: 1440px) {

  // Header
  .header {
    height: 90vh;
  }
}

// max 1366px

@media (max-width: 1366px) {

  // Header
  .header {
    height: 100vh;
  }
}
