// Variables

$main-text: #8E80A9;
$secondary-text: #E65C7B;
$anim: all .2s ease-in-out;

// Fonts
@font-face {
  font-family: "Geometria";

  src: url("../fonts/Geometria.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Caveat";
  src: url("../fonts/Caveatregular.woff") format("woff"),
    url("../fonts/Caveatregular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

// Imports

@import './mixins.scss';
@import './blocks/header.scss';
@import './blocks/main.scss';
@import './blocks/directions.scss';

// Global

* {
  margin: 0;
  padding: 0;

  &::selection {
    color: #FFFFFF;
    background-color: $main-text;
  }
}

body {
  font-family: "Geometria";
  font-size: 16px;
  color: $main-text;
  background-color: #FCF8FE;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.section-number {
  position: absolute;
  right: 0;
  top: 50%;
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 700;
  opacity: .5;

  &::after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    margin-left: 10px;
    background-color: $main-text;
    opacity: .5;
  }
}
