.team {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 140px;
}

.team-wrapper{
  display: flex;
  width: 65%;
}

.team-title {
  margin-bottom: 120px;
}

.team-list {
  list-style: none;
  margin-right: 70px;
}

.team-item {
  position: relative;
  margin-bottom: 90px;
}

.team-photo {
  position: absolute;
  left: -23px;
  bottom: 17px;
  width: 145px;
  height: 145px;
}

// Team slider

.team-list-slider{
  position: relative;
}

.team-slider-nav{
  position: absolute;
  right: 70px;
  bottom: 0px;
}

.team-slider-left{
 @include team-slider-btn;
}

.team-slider-right{
  @include team-slider-btn;
}

.team-slider-pages{
  margin: 0 20px;
  font-size: 12px;
}

//  Coach

.coach {
  display: flex;
  justify-content: space-between;
  width: 400px;
  height: 105px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 25px rgba(142, 128, 169, 0.2);
}

.coach-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
  padding-left: 140px;
}

.coach-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
  padding-right: 25px;
}

.coach-name {
  font-size: 12px;
  color: $secondary-text;
}

.coach-yoga {
  font-size: 12px;
}

.coach-social {
  display: flex;
  list-style: none;
}

.coach-link {
  color: $main-text;
  transition: $anim;

  &:first-child {
    margin-right: 10px;
  }

  &:hover {
    color: $secondary-text;
  }
}

.coach-look {
  font-size: 12px;
  color: $main-text;
  background: none;
  border: none;
  border-bottom: 1px solid $main-text;
  cursor: pointer;
  transition: $anim;

  &:hover {
    color: $secondary-text;
    border-bottom: 1px solid $secondary-text;
  }
}

// Coach more

.coach-more{
  display: flex;
  flex-direction: column;
  background: url("../img/team-bg2.png") no-repeat top right;
}

.coach-more-name{
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.coach-more-exp{
  margin-bottom: 25px;
  font-size: 14px;
  color: $secondary-text;

}

.coach-more-desc{
  margin-bottom: 20px;
  font-size: 12px;
}
