- const navItems = ["Направления", "Абонементы", "Наша команда", "Отзывы", "Контакты"]

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    //- css
    link(rel="stylesheet", href="css/min.style.css")
    //- icons
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css")
    title Yoga
  body
    //- HEADER
    header.header
      .section-number 01
      .header-top
        nav.nav-main
          ul.nav-list
            li.nav-list-item.nav-close
            each el in navItems
              li.nav-list-item: a.nav-list-link= el
          button.nav-open
            span.nav-btn
            span.nav-menu Меню
        a.nav-tel 8 (888) 111-11-11
      .header-mid
        span.header-slogan Почувствуй расслабление в своем теле
        h1.header-logo Yoga
        button.header-signup Запишитесь на бесплатное<br>пробное занятие
      .header-bottom
        ul.social-list
          li.social-item: a: i.fab.fa-vk
          li.social-item: a: i.fab.fa-twitter
          li.social-item: a: i.fab.fa-facebook-f
        span.city Санкт-Петербург
    //- MAIN
    main.main
      //- DIRECTIONS
      section.directions
        .section-number 02
        h2.directions-title Направления
        .cards-block
          .card
            img.card-img(src="img/card-1.jpg", alt="Хатха-йога")
            .card-desc
              h3.card-title Хатха-йога
              p.card-timetable Пн, Ср, Пт – с 12:00 до 15:00<br>Вт, Чт – с 18:00 до 21:00
              p.card-trainer Инструктор<br>Губка Боб
              button.card-btn
          .cards-desktop
            .card
              img.card-img(src="img/card-2.jpg", alt="Ашатанга-йога")
              .card-desc
                h3.card-title Ашатанга-йога
                p.card-timetable Пн, Ср, Пт – с 11:00 до 14:00<br>Вт, Чт – с 19:00 до 21:00
                p.card-trainer Инструктор<br>Патрик Стар
                button.card-btn
            .card
              img.card-img(src="img/card-3.jpg", alt="Кундалини-йога")
              .card-desc
                h3.card-title Кундалини-йога
                p.card-timetable Пн, Ср, Пт – с 12:00 до 15:00<br>Вт, Чт – с 18:00 до 21:00
                p.card-trainer Инструктор<br>Сквидвард
                button.card-btn
            button.cards-btn-more Смотреть Смотреть больше
      //- SUBSCRIBTION
      section.subscribtion
        .section-number 03
        h2.subscribtion-title Абонементы
        ul.subscribtion-monts
          li.subscribtion-month-item.smi-active 1 месяц
          li.subscribtion-month-item 6 месяцев
          li.subscribtion-month-item 12 месяцев
        ul.price-list
          li.price-item
            h3.price-title Утро
            p.price-time Посещение<br>с 11:00 до 16:00
            span.price 1 300 Р
          li.price-item
            h3.price-title Безлимит
            p.price-time Посещение не ограничено<br>по времени
            span.price 2 800 Р
            button.price-btn Заказать абонемент
          li.price-item
            h3.price-title Вечер
            p.price-time Посещение<br>с 17:00 до 21:00
            span.price 2 000 Р
      //- TEAM AND REVIEWS
      .team-reviews-bg
        //- TEAM
        section.team
          .section-number 04
          h2.team-title Наша команда
          .team-wrapper
            .team-list-slider
              ul.team-list
                li.team-item
                  img.team-photo(src="img/spongebob.jpg", alt="Спанч Боб")
                  .coach
                    .coach-left
                      p.coach-name Инструктор<br />Губка Боб
                      .coach-yoga Хатха-йога
                    .coach-right
                      ul.coach-social
                        li
                          a.coach-link(href="#"): i.fab.fa-vk
                        li
                          a.coach-link(href="#"): i.fab.fa-twitter
                      button.coach-look Смотреть
                li.team-item
                  img.team-photo(src="img/patrick.png", alt="Патрик Стар")
                  .coach
                    .coach-left
                      p.coach-name Инструктор<br />Патрик Стар
                      .coach-yoga Флоу-йога
                    .coach-right
                      ul.coach-social
                        li
                          a.coach-link(href="#"): i.fab.fa-vk
                        li
                          a.coach-link(href="#"): i.fab.fa-twitter
                      button.coach-look Смотреть
                li.team-item
                  img.team-photo(src="img/squidward.jpg", alt="Сквидвард Тентикалс")
                  .coach
                    .coach-left
                      p.coach-name Инструктор<br />Сквидвард
                      .coach-yoga Йога в гамаках
                    .coach-right
                      ul.coach-social
                        li
                          a.coach-link(href="#"): i.fab.fa-vk
                        li
                          a.coach-link(href="#"): i.fab.fa-twitter
                      button.coach-look Смотреть
              .team-slider-nav
                button.team-slider-left: i.fas.fa-chevron-left
                span.team-slider-pages 1 / 2
                button.team-slider-right: i.fas.fa-chevron-right
            .coach-more
              span.coach-more-name Губка Боб
              span.coach-more-exp Опыт преподавания: 8 лет
              p.coach-more-desc Образование и опыт работы: Практикует с 2011 года, является
                                |сертифицированным инструктором по флоу- йоге. Большой опыт преподавания
                                |йоги для начинающих и продолжающих.
              p.coach-more-desc Обучалась в Индии (International Association of Yoga: classical yoga,
                                |master of principles yoga therapy), Непале (опыт медитативных
                                |и дыхательных техник, проживание в Ашраме), Москва (Аштанга йога
                                |центр 108 А. Константинова), Московский центр классической
                                |йоги Виктора Бойко.
              p.coach-more-desc Сертифицированный инструктор по фитнесу и йоге (БГУФК),
                                |по массажу (Оздоровительный Витал – центр №401).
              p.coach-more-desc Организатор и участник многочисленных конвенций
                                |и семинаров по йоге, медитативным техникам
                                |и здоровому питанию.
        //- REVIEWS
        section.reviews
          .section-number 05
          h2.reviews-title Отзывы
          ul.reviews-list
            li.reviews-item
              span.reviews-quotes "
              blockquote.reviews-blockquote <p>Хожу на йогу вечером, чтобы расслабиться
                                            |после  тяжелого трудового дня. И после занятий
                                            |наступает спокойствие!</p>
                                            <p>Йога это отличный способ быстро
                                            |и качественно расслабиться.
                                            |Спасибо инструктору Марине.</p>
              .reviews-author
                img.reviews-author-photo(src="img/plankton.jpg", alt="Планктон")
                ul.reviews-author-list
                  li.reviews-author-name Планктон
                  lo.reviews-author-date 16 мая 2018
                  li.reviews-author-social
                   ul.coach-social
                        li
                          a.coach-link(href="#"): i.fab.fa-vk
                        li
                          a.coach-link(href="#"): i.fab.fa-twitter
            li.reviews-item
              span.reviews-quotes "
              blockquote.reviews-blockquote <p>Хожу на йогу вечером, чтобы расслабиться
                                            |после  тяжелого трудового дня. И после занятий
                                            |наступает спокойствие!</p>
                                            <p>Йога это отличный способ быстро
                                            |и качественно расслабиться.
                                            |Спасибо инструктору Марине.</p>
              .reviews-author
                img.reviews-author-photo(src="img/larry.png", alt="Ларри Омар")
                ul.reviews-author-list
                  li.reviews-author-name Ларри
                  lo.reviews-author-date 13 мая 2019
                  li.reviews-author-social
                   ul.coach-social
                        li
                          a.coach-link(href="#"): i.fab.fa-vk
                        li
                          a.coach-link(href="#"): i.fab.fa-twitter
            li: button.reviews-left: i.fas.fa-chevron-left
            li: button.reviews-right: i.fas.fa-chevron-right
      //- CONTACTS
      section.contacts
        div
          .contacts-wrapper
            ul.contacts-list
              li.contacts-item
                h3.contacts-list-title Адрес:
                span.contacts-list-desc 124 Конч Стрит, Бикини Боттом
                h3.contacts-list-title График работы:
                span.contacts-list-desc Пн-Вс с 11:00 до 21:00
              li.contacts-item
                h3.contacts-list-title Телефон:
                span.contacts-list-desc 8 (888) 111-11-11
                h3.contacts-list-title Email:
                span.contacts-list-desc yogaspongebob@gmail.com
            ul.social-list
              li.social-item: a: i.fab.fa-vk
              li.social-item: a: i.fab.fa-twitter
              li.social-item: a: i.fab.fa-facebook-f
          form.contacts-form
            h2.contacts-title Запишитесь на бесплатное<br />пробное занятие
            input.contacts-input(type="text" placeholder="Ваше имя")
            input.contacts-input(type="tel" placeholder="Ваш телефон")
            input.contacts-submit(type="submit" value="Оставить заявку")
      //- FOOTER
      footer.footer
        .footer-wrapper
          span.footer-url: a yogaspongebob.com
          span.footer-copy © 2018   Все права защищены


    //- scripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="js/min.script.js")
