- var navItems = ["Главная", "Направления", "Абонементы", "Наша команда", "Отзывы", "Контакты"]

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    //- fonts
    link(href="https://fonts.googleapis.com/css?family=Caveat&display=swap&subset=cyrillic" rel="stylesheet")
    //- css
    link(rel="stylesheet", href="css/min.style.css")
    //- icons
    title Yoga
  body
    header.header
      section.header-top
        nav.nav-main
          ul.nav-list
            each el in navItems
              li.nav-list-item: a.nav-list-link= el
          button.nav-toggle
          button.nav-menu Меню
        a.nav-tel 8 (888) 111-11-11
      section.header-mid
        span.header-slogan Почувствуй расслабление в своем теле
        h1.header-logo Yoga

