- const navItems = ["Главная", "Направления", "Абонементы", "Наша команда", "Отзывы", "Контакты"]

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    //- css
    link(rel="stylesheet", href="css/min.style.css")
    //- icons
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css")
    title Yoga
  body
    header.header
      .section-number 01
      .header-top
        nav.nav-main
          ul.nav-list
            li.nav-list-item.nav-close
            each el in navItems
              li.nav-list-item: a.nav-list-link= el
          button.nav-open
            span.nav-btn
            span.nav-menu Меню
        a.nav-tel 8 (888) 111-11-11
      .header-mid
        span.header-slogan Почувствуй расслабление в своем теле
        h1.header-logo Yoga
        button.header-signup Запишитесь на бесплатное<br>пробное занятие
      .header-bottom
        ul.social-list
          li.social-item: a: i.fab.fa-vk
          li.social-item: a: i.fab.fa-twitter
          li.social-item: a: i.fab.fa-facebook-f
        span.city Санкт-Петербург
    main.main
      section.directions
        .section-number 02
        h2.directions-title Направления
        .cards-block
          .card
            img.card-img(src="img/card-1.jpg", alt="Хатха-йога")
            .card-desc
              h3.card-title Хатха-йога
              p.card-timetable Пн, Ср, Пт – с 12:00 до 15:00<br>Вт, Чт – с 18:00 до 21:00
              p.card-trainer Инструктор<br>Губка Боб
              button.card-btn
          .cards-desktop
            .card
              img.card-img(src="img/card-2.jpg", alt="Хатха-йога")
              .card-desc
                h3.card-title Ашатанга-йога
                p.card-timetable Пн, Ср, Пт – с 11:00 до 14:00<br>Вт, Чт – с 19:00 до 21:00
                p.card-trainer Инструктор<br>Патрик Стар
                button.card-btn
            .card
              img.card-img(src="img/card-3.jpg", alt="Хатха-йога")
              .card-desc
                h3.card-title Кундалини-йога
                p.card-timetable Пн, Ср, Пт – с 12:00 до 15:00<br>Вт, Чт – с 18:00 до 21:00
                p.card-trainer Инструктор<br>Сквидвард Тентикалс
                button.card-btn
            button.cards-btn-more Смотреть больше


    //- scripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="js/min.script.js")
